<!doctype html>

<html ng-app='appBot'>
<head>
	<!-- META -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Optimize mobile viewport -->
	<title>trend.i</title>

	<!-- SCROLLS -->
	<link rel="stylesheet" href="css/bootstrap.min.css" /><!-- load bootstrap -->
	<link rel="stylesheet" href="css/slideshow.css" />
	<style>
		html 					{ overflow-y:scroll; }
		body 					{ padding-top:50px; }
		#todo-list 				{ margin-bottom:30px; }
	</style>

</head>
<!-- SET THE CONTROLLER AND GET ALL TODOS -->
<body>		
	<div class="container" ng-controller="HashtagController">

		<ul class="nav nav-pills" id="flag">
			<li id="us" class="active"><a href="#us" ng-click="selectZone('us');"><img src="images/us.png"/> USA</a></li>
			<li id="ca"><a href="#ca" ng-click="selectZone('ca');"><img src="images/ca.png"/> Canada</a></li>
			<li id="br"><a href="#br" ng-click="selectZone('br');"><img src="images/br.png"/> Brasil</a></li>
			<li id="gb"><a href="#gb" ng-click="selectZone('gb');"><img src="images/gb.png"/> UK</a></li>
			<li id="fr"><a href="#fr" ng-click="selectZone('fr');"><img src="images/fr.png"/> France</a></li>
			<li id="it"><a href="#it" ng-click="selectZone('it');"><img src="images/it.png"/> Italy</a></li>
			<li id="ge"><a href="#ge" ng-click="selectZone('ge');"><img src="images/ge.png"/> Germany</a></li>
			<li id="es"><a href="#es" ng-click="selectZone('es');"><img src="images/es.png"/> Spain</a></li>
			<li id="be"><a href="#be" ng-click="selectZone('be');"><img src="images/be.png"/> Belgio</a></li>
			<li id="ne"><a href="#ne" ng-click="selectZone('ne');"><img src="images/ne.png"/> Holland</a></li>
		</ul>

		<div class="row">&nbsp;</div>
		<!-- TODO LIST -->
			<div class="row">
				<div class="span12">
					<!-- LOOP OVER THE TODOS IN $scope.todos -->
					<div class="btn-group" ng-repeat="t in trends" id="hashdiv">
							<div style="margin: 2px;">
								<button class="btn" id="btn-{{$index + 1}}" ng-click="select(t.name, $index+1)">{{t.name}}</button>
							</div>
					</div>

				</div>
			</div>
			<div class="row">&nbsp;</div>
		<div class="row">
			<div class="col-sm-12">

					<div class="col-sm-9">
									<h5>Last posts</h5>
									<div loading-indicator></div>
									<div ng-repeat="tweet in lastTweets" ng-show="loaded">
										<div class="row well well-sm">
											<div class="col-sm-1"><img src="{{tweet.user.profile_image_url}}"/></div>
											<div class="col-sm-11">
													<div class="col-sm-9">
														<div><strong>{{tweet.user.name}}</strong> - @{{tweet.user.screen_name}} {{tweet.created_at}}</div>	
														<span data-ng-bind-html="tweet.text | parseUrl"></span>
													</div>
													<div class="col-sm-3">
														<div class="row">
															<div class="col-sm-2"> 
																<span class="glyphicon glyphicon-retweet"></span>
															</div>
															<div class="col-sm-10">{{tweet.retweet_count}}</div>
														</div>
														<div class="row">
															<div class="col-sm-2"> 
																<span class="glyphicon glyphicon-heart"></span>
															</div>
															<div class="col-sm-10">{{tweet.favorite_count}}</div>
														</div>
													</div>
											</div>
										</div>
									</div>
					</div>

					<div class="col-sm-2">

					  <h5>Pictures from posts</h5>
					  <div loading-indicator></div>
					  <div id="slides_control">
					    <div>
					      <carousel interval="myInterval">
					        <slide ng-repeat="slide in slides track by $index">
					        	<a href="{{slide}}">
					          		<img ng-src="{{slide}}">
					          	</a>
					          <!--
					          <div class="carousel-caption">
					            <h4>Slide {{$index+1}}</h4>
					          </div>
					          \-->
					        </slide>
					      </carousel>
					    </div>
					  </div>
					</div> 

<!--
						<div ng-repeat="tweet in lastTweets">
						<div ng-if="tweet.entities.media[0].media_url != null">
							<a href="{{tweet.entities.media[0].media_url}}">
							<img src="{{tweet.entities.media[0].media_url}}" width="200" style="margin-bottom: 10px;"/></a>
						</div>
-->
					</div>
			</div>
		</div>

	</div>

	<!-- SPELLS -->
	<script type="text/javascript" src="js/jquery.min.js"></script><!-- load jquery -->
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/angular.js"></script><!-- load angular -->
	<script type="text/javascript" src="js/core.js"></script>

	<script type="text/javascript" src="js/ui-bootstrap-tpls.min.js"></script>

</body>
</html>

